/*
** DELOS PROJECT, 2025
** src/kernel/shell/commands/XX
** File description:
** XX command source file
*/

#include <kernel/shell/shell.h>
#include <utils/misc/print.h>
#include <defines.h>

/**
 * @brief Command for XX.
 *
 * @param argc          The number of argument
 * @param argv[]        The array of argument
 *
 * @return The final code of the operation.
 */
uint8_t
kshell_XX(UNUSED uint32_t argc, UNUSED char *argv[])
{
    // TODO: Add your command stuff here...
    return KO_FALSE;
}
